*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    margin-top: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{

}

.container{
    margin-top: 1.5vh;
    background-color: red;
    height: 40vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    margin-left: 61vh;
    align-items: center;
    justify-content: center;
}

.relogio{
    background-color: rgb(108, 255, 3);
    font-size: 120px;
    margin-top: 35vh;
}

#img{
    margin-top: 0vh;
}